* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	margin: 0 auto;
	background-color: #fefefe;
	width: 960px;
}

footer {
	color: #444;
	text-align: center;
}

h1, h2, h3 {
	font-weight: 300;
	margin: 0;
	margin-bottom: 25px;
}

h1 {
	font-size: 72px;
	line-height: 80px;
}

h2 {
	font-size: 32px;
}

section {
	width: 300px;
	height: 250px;
	overflow: hidden;
	margin-bottom: 20px;
}

section.full {
	width: 960px;
}

#main {
	height: 375px;
	background-color: #e74c3c;
}
section > header {
	width: 35%;
	height: 100%;
	float: left;
	padding: 30px;
}

section > div {
	width: 65%;
	height: 100%;
	float: right;
}

section > div img {
	height: 100%;
}

.icon {
    display: table-cell;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}